label {
  font: 15px 'Exo 2', sans-serif;
}

input {
  margin: 6px;
}
input[type=text] {
  border: 2px solid blue;
  border-radius: 4px;
}
button {
  cursor: pointer;
  background-color: blue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

main {
  margin-top: 190px;
}

fieldset {
  width: fit-content;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: larger;
  color: white;
  text-align: center;
}

img {
  width: 300px;
  border-radius: 18px;
}
#root {
  margin-top: 190px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: 20px;
  left: 0%;
  right: 0%;
  top: -0.26%;
  bottom: 14.21%;
  width: 356px;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 9.73384px 14.6008px rgba(0, 0, 0, 0.1);
  align-items: center;
  margin-right: 10px;
  justify-content: space-around;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.loader {
  margin-left: auto;
  margin-right: auto; 
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}